/*Body*/
body{
  background-color:#FFFFFF;
  border:1px solid #F5F5F5;
  border-top-width:0px;
}

/*Header*/
header{
  position:fixed;
  background-color: #808080;
  width:960px;
}

header div.container{
  background-color:#808080;
}

/*Logo*/
header  div.logo{
  float:left;
  width:135px;
  height:78px;
  margin-left: 5px;
  border-right:1px solid #F5F5F5;
}

header div.logo img{
  padding-top:5px;
}

/*Menu list*/
nav ul li{
  margin-top:30px;
  padding-right: 15px;
  padding-left:15px;
  float:left;
  display:inline;
}

#womenNav a{
  color:purple;
}

nav li.menu a{
  color:#000000;
  font-size: 25px;
  font-weight:bold;
  text-decoration: none;
  font-family: sans-serif;
  font-variant: small-caps;
}

nav li.menu a:hover{
  color:white;
}

/*Quick Tool*/
.quick a{
  float:left;
  font-weight:bold;
  margin-top:33px;
  margin:left:0px;
  color:#000;
  text-decoration: none;
}

.quick a:hover{
  color:white;
}

.quick{
  margin-right:0px !important;
  margin-left:0px !important;
  padding-left:10px;
  padding-top:10px;
  border-left:1px solid #FAFAFA;
  height: 69px;
}

/*Hero Element*/
.hero{
  background-color:#F5F5F5;
  margin: 79px 0px 0px 0px;
  width:960px;
}

.hero_up_text h1{
  text-align: center;
  padding-top: 40px;
  font-size:50px;
  font-family: sans-serif;
  font-variant: small-caps;
  word-spacing: 10px;
  }

.hero_up_text h3{
  text-align: center;
  padding-bottom: 30px;
  font-size:30px;
  font-family: sans-serif;
  font-variant: small-caps;
  word-spacing: 10px;
}

.hero_up_text{
  padding-top: 20px;
  padding-bottom: 20px;
}

div.hero_center{
  float: left;
}

div.hero_center img{
  width:960px;
}

.hero_down_text p{
  margin-top:40px;
  margin-bottom:40px;
  padding-left:20px;
  padding-right:20px;
  font-family:sans-serif;
  font-size: 17px;
  text-align: justify;
  white-space:normal;
}

.hero_down_text {
  padding:20px 0px 20px 0px;
}

/*KhaadiMen*/
.KhaadiMen{
  padding:30px 0px 30px 0px;
  background-color:#FAFAFA;
  margin-left:0px !important;
  margin-right:0px !important;
}

.KhaadiMen_img img {
  float:left;
  padding-left:15px;
}

div.KhaadiMen_text{
  margin:0px 0px;
  text-align: justify;
}

div.KhaadiMen_text p#primary{
  font-family: sans-serif;
  font-size: 30px;
}

div.KhaadiMen_text p#secondary{
  font-family: sans-serif;
  font-size: 25px;
}

div.KhaadiMen_text p#main{
  font-family: sans-serif;
  font-size: 17px;
}

div.KhaadiMen_text a#learnMore{
  text-decoration: none;
  color:blue;
  float:left
}

div.khaadiMen_heading a{
  font-size: 50px;
  text-decoration: none;
  font-variant: small-caps;
  font-family: sans-serif;
  padding-left:15px;
}

/*KhaadiWomen*/
.KhaadiWomen{
  padding:30px 0px 20px 0px;
  background-color:#F5F5F5;
  margin-left:0px !important;
  margin-right:0px !important;
  margin-bottom: 0px;
}

.KhaadiWomen_img img {
  float:left;
  padding-left:15px;
}

div.KhaadiWomen_text{
  margin-left:10px;
  margin-right:0px;
  text-align: justify;
}

div.KhaadiWomen_text p#primary{
  font-family: sans-serif;
  font-size: 30px;
}

div.KhaadiWomen_text p#secondary{
  font-family: sans-serif;
  font-size: 25px;
}

div.KhaadiWomen_text p#main{
  font-family: sans-serif;
  font-size: 17px;
}

div.KhaadiWomen_text a#learnMore{
  text-decoration: none;
  color:blue;
  float:left
}

div.khaadiWomen_heading a{
  font-size: 50px;
  text-decoration: none;
  font-variant: small-caps;
  font-family: sans-serif;
  padding-left:15px;
}

/*Footer*/
div.footer{
  padding-top:15px;
  margin-top:0px;
  background-color:#101;
  width:960px;
  margin-left:0px;
  margin-right:0px;
}

div.footer_background{
  background-color: #101;
}

.container_12 .grid_12 {
    width: 960px;
}

div.footer div.col1 ul li a{
  text-decoration: none;
  color:white;
  text-align: left !important;
}

div.footer div.col1 ul li a p#col1_heading{
  text-decoration: underline;
  font-size:20px
}

div.footer div.col1 ul li{
  list-style-type: none;
  margin-bottom:15px;
}

p#col1_heading{
  text-align: left;
}

div.footer div.col2 ul li a{
  text-decoration: none;
  color:white;
  text-align: left;
}

div.footer div.col2 ul li a p{
  text-align:left;
}

div.footer div.col2 ul li{
  display:block;
  margin-bottom:20px;
}

p#col2_heading{
  text-decoration: underline;
  font-size:20px;
  text-align: left;
}

div.footer div.col3 ul li a{
  text-decoration: none;
  color:white;
}

div.footer div.col3 ul li p{
  color:white;
}

p#col3_heading{
  text-decoration: underline;
  font-size:20px;
  text-align: left;
}

p#social_link{
  text-align: left;
}

div.portfolio img{
  float:left;
  padding-left: 0px !important;
}

div.footer div.col3 ul li p {
  text-align:left;
}

div.footer div.col3 ul li{
  display:block;
  margin-bottom:20px;
}

/*Men Portfolio*/
div.portfolio{
  margin-top:79px;
  background-color: #FAFAFA;
  padding-top:20px;
  padding-left:0px;
}

div.portfolio  div.cells p{
  margin-bottom:2px;
  text-align: center;
  font-family: sans-serif;
}
div.portfolio  div.cells h5{
  margin-bottom:2px;
  text-align: center;
  font-family: sans-serif;
  font-size: medium;
}

.container_12 .grid_4{
  margin:0px;
}

div.portfolio  div.cells img{
  float:left;
  padding-left:20px !important;
}

div.portfolio div.cell1,
div.portfolio div.cell4,
div.portfolio div.cell7{
  margin-left:30px;
}

div.portfolio div.cell1,
div.portfolio div.cell2,
div.portfolio div.cell3{
  margin-bottom:35px;
}

div.portfolio div.cell4,
div.portfolio div.cell5,
div.portfolio div.cell6{
  margin-bottom:35px;
}

div.portfolio div.cell7,
div.portfolio div.cell8,
div.portfolio div.cell9{
  margin-bottom:35px;
}

div.portfolio div.heading h1{
  text-align: center;
  text-transform:uppercase; ;
}
